@font-face {
    font-family: Proxima;
    src: url(Font/Metropolis-Bold.otf);
}
body{
    font-family: Proxima;
    margin: 0;
}
.header-decor-1{
    position: absolute;
    transform: rotate(-30deg);
    width: 800px; height: 600px;
    top : -10px;
    right: 500px;
    z-index: -3;
    background-color: #e9dfcb ;
}

ul{
    margin: 50px auto;
    width: 1100px;
    overflow: hidden;
    list-style-type: none;
}
li{
    float: right;
}
li a {
    font-size: 25px;
    color: #c5af7d;
    display: block;
    padding: 15px 20px;
    border-radius: 3px;
}
li a:hover{
    color: #c5af7d;
    transition: 0.5s;   
}
.character{
    z-index: -1;
    top: 0;
    position: absolute;
    width: 850px;
}

.greetings{
    color: #414141;
    line-height: 15px;
    position: relative;
    top: 40px;
    right: 50px;
    float: right;
    width: 400px;
}
.greetings h2{
    z-index: -1;
    font-size: 90px;
    color: #e9dfcb;
    position: absolute;
    bottom: 50px;
    right: 230px;
}
.greetings h1{
    line-height: 30px;
}
.greetings h1 span{
    color: #c5af7d;
}
